@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


body {
    box-sizing: border-box;
    background-image: url(img/farallones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 0%;
    width: max-content;
    height: max-content;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0%;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 4vw;
    font-weight: 100;
    font-family: 'Reenie Beanie', cursive;
    color: #081826;
    text-align: center;
}

.host {
    font-style: italic;
}

.logo {
    width: 50%;
}

.button-link {
    text-decoration: none;
    color: #F2F2F0;
    align-self: end;
    margin: 0 3% 3% 0;
}

i {
    font-size: 6vw;
    text-shadow: 2px 3px 20px #000;
}

.button-link:hover {
    opacity: 0.5;
}


@media only screen and (min-width: 320px) {

    h1 {
        font-size: 9vw;
    }

    i {
        font-size: 12vw;
    }
}


@media only screen and (min-width: 768px) {

    h1 {
        font-size: 8vw;
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {

    h1 {
        font-size: 4vw;
    }

    i {
        font-size: 7vw;
    }
}

